<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp-404</title>
</head>
<body bgcolor="linen">
  <h2 style="text-align:center">Page not found</h2>
<img style="height:400px; width:400px;display: block; margin-left: auto; margin-right: auto;"src="404.png">
<a href="https://storyset.com/web"><h6 style="text-align:center">Web illustrations by Storyset</h6>/a>
</body>
</html>