<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Tiny App - Register</title>
  </head>

  <body>
    <main style="margin: 1em;">
      <div style="background-color: lightgreen;">
      <h2 style="margin: 5px; text-align: center; font-size: 40px;" >Create an account</h2>
      </div>

      <div>
      <form class="form-inline" method="POST" action="">
        <label for="email">E-mail: </label>
        <input
        type="email"
        name="email"
        placeholder="Enter Email"
        style="margin: 5px; text-align: center; align-content: center;"
        required
        />
        <label for="password">Password: </label>
        <input
        type="password"
        name="password"
        placeholder="Enter Password"
        margin="10px"
        style="margin: 5px; text-align: center;"
        required
        />
        <button type="submit" class="btn btn-primary" style="margin: 5px">Submit</button>
      </form>  

    </div>
      <div style="background-color: green">
        <p></p>
      </div>
    </main>
    
  </body>
</html>